<h1 style='float:left'>Welcome <%= current_user.email %></h1>

<%= link_to 'sign out', destroy_user_session_path, style: 'float:right;' %>

<hr style='clear:both'>

<%= form_for current_user, url: dashboard_path do |f| %>
  Name <%= f.text_field :name, placeholder: 'the one you use in Ingress'  %>
  Level <%= f.select :level, 1..8 %>
  Active? <%= f.check_box :active %>
  <%= f.submit %>
<% end %>

<hr>

<h2>Active users</h2>

<%= gmaps4rails @gmaps_json %>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Location</th>
  </tr>
  <% User.where(active: true).each do |u| %>
  <tr>
    <td><%= u.name %></td>
    <td><%= u.level %></td>
    <td><%= u.location.latitude %>,<%= u.location.longitude %> at <%= u.location.timestamp.to_s(:short) %> </td>
  </tr>
  <% end %>
</table>

